{% extends "my_questions/base.html"%}
{% load static %}

{% block title %}
    Действительно удалить тест?
{% endblock %}

{% block content %}
Удалить эту версию?
<div>
    {{version_to_delete.text}}
</div>
<div>
    {{version_to_delete.answer}}
</div>

<form action="{% url 'my_questions:version_delete_backend' %}" method="post">
    {% csrf_token %}
    <input type="hidden"  name="version_id" value="{{version_to_delete.id}}">
    <button type="submit" name="action" value="keep">  НЕТ, всё-таки </button>
    <button type="submit" name="action" value="delete"> УДАЛИТЬ </button>
</form>

{% endblock %}
