{% extends "my_questions/base.html"%}
{% load static %}

{% block title %}
Добавить тест
{% endblock %}

{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-12">
       <h4>Тест</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <form id="test-form" enctype="multipart/form-data" method="post" action="{% url 'my_questions:edit_test_backend' %}">
        {% csrf_token %}
          <div class="test-title">
            {% if test.id %}
              <input type="hidden" name="test-id" id="test-id" value="{{test.id}}">
            {% endif %}
            <label>{{question_part_names.test_title}}</label>
            <input type="text" id="test-name" name="test-name" {% if test.name %} value="{{test.name}}" {% endif %}>
            {{test_form.tournament}}
          </div>
      </form>
    </div>
    <div class="col-6">
      <div>
        <label>{{question_part_names.test_description}}</label>
        <textarea form="test-form" id="test-description" name="test-description" rows="5" cols="33">{% if test.description %}{{test.description}}{% endif %}</textarea>
      </div>
    </div>
  </div>

  <div id="tabs">
    <ul>
      <li><a href="#tabs-q">Вопросы</a></li>
      <li><a href="#tabs-t">Тестеры</a></li>
    </ul>

    <div id="tabs-q">
      <div class="row">
        <div class="col-6">
          <div id="question-test-basket" class="connectedSortableQuestions connectedSortable">
            {% for q in quests_tested %}
              {% include 'my_questions/parts/question-widget.html' with q=q versions_marked=versions_tested form="test-form" %}
            {% endfor %}
          </div>
        </div>
        <div class="col-6">
          <div id="question-basket" class="connectedSortableQuestions connectedSortable">
            {% for q in quests %}
              {% include 'my_questions/parts/question-widget.html' with q=q versions_marked=versions %}
            {% endfor %}
          </div>

        </div>
      </div>
    </div>

    <div id="tabs-t">
      <div class="row">
        <div class="col-6">
              <div id="tester-test-basket" class="connectedSortableTesters connectedSortable">
                {% for t in testers_tested %}
                  {% include 'my_questions/parts/tester-widget.html' with t=t form="test-form" %}
                {% endfor %}
              </div>
        </div>
        <div class="col-6">
          <div id="tester-basket" class="connectedSortableTesters connectedSortable">
            {% for t in testers %}
                {% include 'my_questions/parts/tester-widget.html' with t=t %}
              {% endfor %}
          </div>

        </div>
      </div>
    </div>

  </div>
</div>


<script>
  $( function() {
    $("#question-test-basket, #question-basket").sortable({
      connectWith: ".connectedSortableQuestions",
      receive: function(event, ui) {
        // Check which list is receiving the item
        if (this.id === "question-test-basket") {
          ui.item.find("input").attr("form", "test-form");
        } else if (this.id === "question-basket") {
          ui.item.find("input").removeAttr("form");
        }
        $(this).trigger( "questionAmountChanged")
      }
    }).disableSelection();

    $( "#tester-test-basket, #tester-basket" ).sortable({
      connectWith: ".connectedSortableTesters",
      receive: function(event, ui) {
        // Check which list is receiving the item
        if (this.id === "tester-test-basket") {
          ui.item.find("input").attr("form", "test-form");
        } else if (this.id === "tester-basket") {
          ui.item.find("input").removeAttr("form");
        }
        $(this).trigger( "questionAmountChanged")

      }
    }).disableSelection();

    $( ".accordion" ).accordion({
      collapsible: true,
      active:false,
      header: function ( accordionElement ) {
        return accordionElement.find( "h3" );
      }
    });

    $( "#tabs" ).tabs();
  } );
</script>
{% endblock %}

{% block bottom_bar %}
    {% include "my_questions/parts/bottom-bar-edit-test.html" with form="test-form" %}
{% endblock %}
