{% extends "my_questions/base.html"%}
{% load static %}
{% load my_questions_extras %}


{% block title %}
Вопрос номер {{my_question.id}}
{% endblock %}

{% block content %}

{{my_question.testers|tester_list}}

<div class="container-fluid">
  {% for p in question_form_set %}
    <form id = "delete-ver-{{ p.id.auto_id }}" action="{% url 'my_questions:version_delete_backend' %}" method="post">
     {% csrf_token %}
      <input form="delete-ver-{{ p.id.auto_id }}" type="hidden"  name="version_id" value="{{ p.id.value }}">
    </form>
    <form id="copy-version-{{ p.instance.id }}" action="{% url 'my_questions:version_copy_backend' %}" method="post">
      <input form="copy-version-{{ p.instance.id }}" type="hidden"  name="version_id" value="{{ p.instance.id }}">
      {% csrf_token %}
    </form>
  {% endfor %}

  <form enctype="multipart/form-data" id="versions-form" method="post" action="{% url 'my_questions:edit_question_backend' %}">

    {% csrf_token %}
    {{ question_form_set.management_form }}
    <div class="question-editor-header">
      <input type="hidden" id="question" name="question" value="{{my_question.id}}">
      <button form="versions-form" type="submit" value="Submit">{{control_element_names.submit}}</button>
    </div>


    <div class="row">
      {% for p in question_form_set %}
          {% if p.instance.id and p.instance.is_part_of_committed_tests %}
            <div class="col-6">
              <div class="version-cont-locked">
                <div> Эта версия использована в тесте </div>
                {% if p.instance.razdatka %}
                  <div><img src="{{p.instance.razdatka.url}}" class="razdatka"></div>
                {% endif %}
                <div>{{p.instance.text|safe}}</div>
                <div>{{p.instance.answer}}</div>
                <div>{{p.instance.also_answer}}</div>
                <div>{{p.instance.not_answer}}</div>
                <div>{{p.instance.commentary}}</div>
                <div>{{p.instance.created}}</div>
                <button form="copy-version-{{ p.instance.id }}" type="submit" name="action" value="copy"> Скопировать </button>
              </div>
            </div>

            {% endif %}
            <div class="col-12 {% if p.instance.id and p.instance.is_part_of_committed_tests %}d-none{% endif %}">
              <div class="version-cont">
                <div class="version-header">
                  <div class="version-titles">
                    <h4>{{terms.version}} {{p.instance.created}}</h4>

                  </div>
                  <div class="version-controls">
                    <button form="copy-version-{{ p.instance.id }}" type="submit" name="action" value="copy"> {{control_element_names.copy}} </button>
                    <button form="delete-ver-{{ p.id.auto_id }}" type="submit" name="action" value="approve"> {{control_element_names.delete}} </button>
                  </div>
                </div>

              {{ p.id }}
              <div class="razdatka-cont">
                <label>{{question_part_names.razdatka}}</label>
                {{ p.razdatka }}
              </div>


              <label>{{question_part_names.text}}</label>
              {{ p.text }}

              {% include "my_questions/ui-components/input_group.html" with label=question_part_names.answer form_element=p.answer %}
              {% include "my_questions/ui-components/input_group.html" with label=question_part_names.also_answer form_element=p.also_answer %}
              {% include "my_questions/ui-components/input_group.html" with label=question_part_names.not_answer form_element=p.not_answer %}

              <label>{{question_part_names.commentary}}</label>
              {{ p.commentary }}
              <label>{{question_part_names.sources}}</label>
              {{ p.sources }}
              <label>{{question_part_names.editor_comments}}</label>
              {{ p.editor_comments }}

            </div>
            </div>



      {% endfor %}
    </div>
        {{ question_form_set.media }}



</form>

</div>
{% endblock %}
