{% extends "my_questions/base.html"%}
{% load static %}
{% load my_questions_extras %}

{% block title %}
    Добавить вопрос
{% endblock %}

{% block content %}
    {% for q in quests %}
        <div>
            <a href="{% url 'my_questions:question' question_id=q.id %}">
                {% include "my_questions/parts/question-preview.html" with q=q %}
            </a>
            <form action="{% url 'my_questions:delete_question_backend' %}" method="post">
                {% csrf_token %}
                <input type="hidden"  name="question_id" value="{{ q.id }}">
                <button type="submit" name="action" value="approve"> Удалить </button>
            </form>
        </div>
    {% endfor %}
{% endblock %}
